.friends-container {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.search-block {
  display: flex;
  input {
    font-size: 15px;
    width: 100%;
  }
  input,
  .search-btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
}
.search-btn {
  background-color: #6c69ff;
  margin-left: 10px;
}
.person,
.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.btn-remove,
.btn-add {
  padding: 8px 16px;
  background: #ff6f6f;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.btn-add {
  background: #6c69ff;
}
