<div class="friends-container">
    <h2>Friends</h2>
    <div class="form-control">
        <label>Search Friends</label>
        <div class="search-block">
            <input type="text" placeholder="Search Friends">
            <button class="btn search-btn">Search</button>
        </div>
    </div>
    <h2>My Friends</h2>
    <div class="friend">
        <p class="friend-name">Ivan_Blaze@mail.com</p>
        <button class="btn btn-remove">Remove Friend</button>
    </div>

    <hr>

    <h2>Search Friends: Swag</h2>
    <div class="friend">
        <p class="friend-name">Swag_boi</p>
        <button class="btn btn-add">Add Friend</button>
    </div>
</div>
