<form class="form" [formGroup]="form">
    <h2>Login</h2>
    <div 
        [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}"
        class="form-control"
    >
        <label>Email</label>
        <input type="email" placeholder="Email" formControlName="email" (input)="onInput()">
        <div 
            *ngIf="form.get('email')?.touched || form.get('email')?.invalid"
            class="validation">
            <small *ngIf="form.get('email')?.errors?.['required']">Field is required</small>
            <small *ngIf="form.get('email')?.errors?.['email']">Enter a valid e-mail</small>
        </div>
    </div>

    <div 
        [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}"
        class="form-control"
    >
        <label>Password</label>
        <input type="password" placeholder="Password" formControlName="password" (input)="onInput()">
        <div 
            *ngIf="form.get('password')?.touched || form.get('password')?.invalid"
            class="validation">
            <small *ngIf="form.get('password')?.errors?.['required']">Field is required</small>
            <small *ngIf="form.get('password')?.errors?.['minlength']">
                At least {{form.get('password')?.errors?.['minlength']['requiredLength']}} characters.
                Now 
                    <strong>
                        {{form.get('password')?.errors?.['minlength']['actualLength']}}
                    </strong>
                characters.
            </small>
        </div>
        <div class="validation"
            *ngIf="loginTrigger"
        >User not registered</div>
    </div>
    <button 
        type="submit" 
        class="btn btn-login"
        (click)="login()"
        [disabled]="form.invalid"    
        >Login</button>
    </form>


