<nav class="navbar">
  <div class="logo-img">
    <img src="./../assets/images/logo.png" alt="logo">
  </div>
  <ul>
    <li><a href="#">Games</a></li>
    <li><a href="#">Library</a></li>
    <li><a href="#">Friends</a></li>
    <li class="active">
      <a href="#">Profile</a>
    </li>
  </ul>
  <ul class="log-btns">
    <li><button class="btn">Login</button></li>
    <li><button class="btn">Logout</button></li>
  </ul>
</nav>

<div class="container">
  <!-- <app-login></app-login> -->
  <!-- <app-profile></app-profile> -->
  <!-- <app-friends></app-friends> -->
  <app-library></app-library>
</div>