<nav class="navbar">
  <div class="logo-img">
    <a [routerLink]='["/"]'>
      <img src="./../assets/images/logo.png" alt="logo">
    </a>
  </div>
  <ul>
    <li routerLinkActive="active"><a [routerLink]='["/games"]'>Games</a></li>
    <li routerLinkActive="active"><a [routerLink]='["/library"]'>Library</a></li>
    <li routerLinkActive="active"><a [routerLink]='["/friends"]'>Friends</a></li>
    <!-- <li routerLinkActive="active"><a [routerLink]='["/profile"]'>Profile</a></li> -->
  </ul>
  <ul class="log-btns">
    <li><button class="btn" (click)="goToLoginPage()">Login</button></li>
    <li><button class="btn" (click)="goToRegistrationPage()">Registration</button></li>
    <!-- <li><button class="btn">Logout</button></li> -->
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
  <!-- <app-login></app-login> -->
  <!-- <app-profile></app-profile> -->
  <!-- <app-friends></app-friends> -->
  <!-- <app-library></app-library> -->
  <!-- <app-games></app-games> -->
</div>