<div class="games-container">
    <h2>Games</h2>
    <div class="form-control">
        <label>Search Games</label>
        <div class="search-block">
            <input type="text" placeholder="Search Games">
            <button class="btn search-btn">Search</button>
        </div>
    </div>
    <h2>Featured Games</h2>
    <div class="search-games__container">
        <div class="card-container">
            <div class="card">
                <div class="card__header">
                    <p>Doom Eternal</p>
                    <p>200 UAH</p>
                </div>
                <div class="card__content">
                    <p>Hells armies have invaded Earth. Become the Slayer in an epic single-player campaign to conquer demons across dimensions and stop the final destruction of humanity. The only thing they fear...</p>
                    <button class="btn btn-add">Add To Library</button>
                </div>
            </div>

            <div class="card">
                <div class="card__header">
                    <p>Doom Eternal</p>
                    <p>200 UAH</p>
                </div>
                <div class="card__content">
                    <p>Hells armies have invaded Earth. Become the Slayer in an epic single-player campaign to conquer demons across
                        dimensions and stop the final destruction of humanity. The only thing they fear...</p>
                    <button class="btn btn-add">Add To Library</button>
                </div>
            </div>

            <div class="card">
                <div class="card__header">
                    <p>Doom Eternal</p>
                    <p>200 UAH</p>
                </div>
                <div class="card__content">
                    <p>Hells armies have invaded Earth. Become the Slayer in an epic single-player campaign to conquer demons across
                        dimensions and stop the final destruction of humanity. The only thing they fear...</p>
                    <button class="btn btn-add">Add To Library</button>
                </div>
            </div>
        </div>
        <div class="filter-container">
            <h3>Filter by price</h3>
            <div class="range-price">
                <input type="range" class="range">
                <p>Any Price</p>
            </div>
            <h3>Filter by tag</h3>
            <form class="checkbox-block">
                <label><input type="checkbox" name="tag" value="Indie"><span>Indie</span></label>
                <label><input type="checkbox" name="tag" value="Indie"><span>Action</span></label>
                <label><input type="checkbox" name="tag" value="Indie"><span>Adventure</span></label>
            </form>
        </div>
    </div>
    
</div>